<h1>Create new task</h1>

<br>
<br>

<%= form_for(@task) do |f| %>
  <div class="form_element">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form_element">
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <div class="form_element button">
    <%= f.submit %>
  </div>
<% end %>
